.owl-prev-position{
    position: absolute;
    top: 50%;
    left: 0px;
    color: white !important;
    font-size: 20px !important;
    transform: translate(0%, -50%);
    // border-radius: 40px;
    // border:  1px solid black !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--primary-color) !important;
    padding-right: 15px !important;
    
    & i::before{
        line-height: 0px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.owl-next-position{
    position: absolute;
    top: 50%;
    right: 0px;
    color: white !important;
    font-size: 20px !important;
    transform: translate(0%, -50%);
    // border-radius: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--primary-color) !important;
    padding-right: 15px !important;
    
    & i::before{
        line-height: 0px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.owl-dots{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    position: absolute;
    // height: auto;
    transform: translate(0%, -50%);
    bottom: 25px;
    left: 150px;
}
.owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
    background: var(--secondary-color);
    margin: 20px 5px;
    transition: 0.3s ease-in-out;
}
.owl-dots button.owl-dot.active {
    background-color: var(--main2-color);
    background: var(--secondary-color);
    
    border-radius: 50px;
    width: 30px;
    height: 15px;
}

.owl-stage .active{
    .heading-one{
        animation: slide-head 1s ease-in-out 0s normal;
    }
    // .banner-box{
    //     img{
    //         animation: box-img 1s ease-in-out 0s normal;
    //     }
    // }
    .banner-img{
        
        img{
            opacity: 0.0;
            animation: slide-img 0.8s ease-in-out 0s normal;
            opacity: 1;
        }
    }
}



//reviews
.owl-prev-position-reviews{
    position: absolute;
    bottom: 0;
    left: 50%;
    color: white !important;
    font-size: 20px !important;
    transform: translate(-100%, 100%);
    // border-radius: 40px;
    // border:  1px solid black !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--primary-color) !important;
    padding-right: 15px !important;
    border-right: 1px solid white !important;
    transition: 0.2s ease-in-out;
    &:hover{
        background: var(--secondary-color) !important;
        // color: var(--primary-color) !important;
    }
    & i::before{
        line-height: 0px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.owl-next-position-reviews{
    position: absolute;
    bottom: 0;
    right: 50%;
    color: white !important;
    font-size: 20px !important;
    transform: translate(100%, 100%);
    // border-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--primary-color) !important;
    padding-right: 15px !important;
    border-left: 1px solid white !important;
    transition: 0.2s ease-in-out;
    &:hover{
        background: var(--secondary-color) !important;
        // color: var(--primary-color) !important;
        
    }
    
    & i::before{
        line-height: 0px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


//image
.owl-prev-position-image{
    position: absolute;
    top: 50%;
    left: 0;
    color: white !important;
    font-size: 20px !important;
    transform: translate(0, -50%);
    // border-radius: 40px;
    // border:  1px solid black !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: var(--primary-color) !important;
    padding-right: 15px !important;
    // border-right: 1px solid white !important;
    transition: 0.2s ease-in-out;
    &:hover{
        background: var(--secondary-color) !important;
        // color: var(--primary-color) !important;
    }
    & i::before{
        line-height: 0px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.owl-next-position-image{
    position: absolute;
    top: 50%;
    right: 0;
    color: white !important;
    font-size: 20px !important;
    transform: translate(0, -50%);
    // border-radius: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: var(--primary-color) !important;
    padding-right: 15px !important;
    // border-left: 1px solid white !important;
    transition: 0.2s ease-in-out;
    &:hover{
        background: var(--secondary-color) !important;
        // color: var(--primary-color) !important;
        
    }
    
    & i::before{
        line-height: 0px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}