:root{
    --primary-color: #045394;
    --secondary-color: #D60D45;

    //text-color
    --text-white: #ffffff;
    --text-nav: #707070;
    --text-gray: #949393;
    --text-gray-two: #707070;

    //background color
    --bg-gray: #F5F5F5;
}

